<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Pic big:</b>
  <%= @user.pic_big %>
</p>

<p>
  <b>Religion:</b>
  <%= @user.religion %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Birthday date:</b>
  <%= @user.birthday_date %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Meeting sex:</b>
  <%= @user.meeting_sex %>
</p>

<p>
  <b>Meeting for:</b>
  <%= @user.meeting_for %>
</p>

<p>
  <b>Tv:</b>
  <%= @user.tv %>
</p>

<p>
  <b>Movies:</b>
  <%= @user.movies %>
</p>

<p>
  <b>Books:</b>
  <%= @user.books %>
</p>

<p>
  <b>Online presence:</b>
  <%= @user.online_presence %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
