<h1>メール一覧</h1>
<%= link_to '送信', :action => :index, :type => 1 %>| <%= link_to '受信', :action => :index, :type => 2 %>
<br />
------------------------------------------------------------------------------------------------------------------
<br />

<% if @emails.count > 0 %>
<table>
  <tr>
    <th>相手</th>
    <th>メッセージ</th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td>
    <% if User.find_by_uid(email.meetinguid) != nil %>
    <%= image_tag User.find_by_uid(email.meetinguid).pic_big||='' %>
    <% else %>
    不明
    <% end %>
    </td>
    <td><%= email.message %></td>
    <td><%= link_to '開く', email %></td>
    <td><%= link_to '削除', email, :confirm => '消しますか?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
まだメールはありません
<% end %>
